<nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">Mongo Scraper</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/saved">Saved Articles</a>
                </li>
                <li>
                    <a class="waves-effect waves-light btn scraper" href="/scrape">Scrape
                        <i class="material-icons right">youtube_searched_for</i> Articles</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="row">
        <div class="col s12 m12">
            <div class="card" id="main-card" style="height: 300px;">
                <div class="card-image">
                    {{!-- <img src="url(../../public/images/beer-bkgrd.jpg)"> --}}
                    <h1 class="card-title right-align" style="font-size: 75px; top: 0; color: black">Mongo Scraper</h1>
                    <h2 class="card-title center" style="font-size: 40px; top: 80px; color: black">Beer Street Journal Edition</h2>
                    
                </div>
    
            </div>
        </div>
    </div>

{{#each article}}
    {{#unless saved}}
<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <a class="card-title">{{title}}</a>
                <a class="waves-effect waves-light btn savethis" data-id= "{{_id}}" style="position: absolute; top: 20px; right: 20px;" >save article</a>
                <p>{{summary}}</p>
            </div>
            <div class="card-action blue-grey darken-4">
                <a href="{{link}}">{{link}}</a>
                
            </div>
        </div>
    </div>
</div>

    {{/unless}}
{{/each}}